
body {
    color: white;
    background-color: #061a2a;
    padding: 0;
    margin: 0;
    padding-bottom: 3%;
    text-align: center;
    font-family: "trebuchet MS", sans-serif;
}
.container {
    display: flex;
    flex-direction:column;
    /* border: solid red 1px; */
}
.nav-bar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    /* border: 2px solid purple; */
    display: flex;
    background-color: #061a2a;
    color: white;
    align-items: center;
    z-index:3;
}
.header-link {
    display: flex;
    padding: 0px 0px 0px 0px;
    margin: auto;
}
.header-link a {
    text-decoration:none;
    padding: 15px;
    text-align: center;
    ;
}
.logo {
  padding-left: 30px;
}
.logo img {
    width: 60px;
    height: 60px;
}
.TY-icon {
    margin:auto;
    padding-right:1rem;
}
.wrapper {
    display:flex;
    width:100%;
    justify-content: space-between;
    /* border: solid 4px blue; */
}
.socials {
    padding-right: 1%;
}
/* .wrapper .wrapper2,.socials{
    border: solid 4px greenyellow;
    /*border: 3px solid green;
} 
*/
.wrapper2 {
    justify-content: right;
    display:flex;
}
.hover-1 {
    color:white;
    /* border-bottom: 3px solid #061a2a; */
    transition: all 0.25s linear;
    position: relative;
}
.hover-1:before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
    position: absolute;
    left: 0;
    bottom: 4px; /* this is to match where the border is */
    transform-origin: left; 
    transform: scale(0);
    transition: 0.25s linear;
}
.hover-1:hover:before {
    transform: scale(1);
}

.name {
    margin: auto;
}
ul {
    display: flex;
    top: 50%;
  }
  
  ul li {
    list-style: none;
  }
  
  ul li a {
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 53px;
    font-size: 30px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 5;
  }
  
  ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
  ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
  ul li a:hover:before {
    top: 0;
  }
  
  ul li:nth-child(1) a:before{
    background: black;
  }
  
  ul li:nth-child(2) a:before{
    background: #0077b5;
  }
  
  ul li:nth-child(3) a:before {
    background: linear-gradient(180deg,#c2e59c 0%, #64b3f4 100%);
  }
  .b {
      display:block;
      /* border: 2px solid red; */
  }
  .filler { /*ensures that content is not covered up by fixed pos navbar*/
      /* border:green solid 2px; */
      height:102px;
      width: 100%;
  }
  .hero-wrapper {
      display: flex;
      flex-direction: row;
      /* border: blue solid 2px; */
      justify-content: center;
      padding-bottom: 20px;
  }
  .hero-video{
      display: block;
      padding-right: 4%;
      margin:auto;
  }
  .welcome-text {
      margin:auto;
      font-size:x-large;
      padding-left: 4%;
      padding-right:8%;
  }
  .content-wrapper {
      display: flex;
      /* border: blue solid 2px; */
  }
  .project-content {
      width:100%;
      margin: auto;
      align-content: center;
  }
  .current-development {
      width:100%;
      align-content: center;
  }
  .see-all {
      text-decoration: none;
      padding-bottom: 8px;
  }
  /* create fade-in animation */
  .lineUp {
    animation: 2s anim-lineUp ease-out;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  /* project cards */
  .iCard {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #34445c;
    /* border: red solid 2px; */
  }
  .iCard-img {
      display:block;
      width: 100%;
      height: 300px;
  }

.shadow-1 {
    box-shadow: 0 12px 12px 0 rgba(10,10,10);
}
.blue-hover {
  transition: all 0.25s ease-in;
  border-bottom: 5px solid transparent;
}
.blue-hover:hover {
  transform: translateY(-5px);
  border: none;
  border-bottom: 5px solid #7c8c94;
}
.iCard-txt {
    margin: 20px;
    font-size: smaller;
}
.divider {
    width:50%;
    padding-left: 25%;
    padding-bottom: 5%;
}
